img.bigbanner {
    display: block;
    margin-left: auto;
    margin-right: auto;	
    width: 100%;
    height: auto;
}

.bannerSection {
	position: relative;
        height: 650px;
	width: 100%;
	background-color: #0062b7;
}

.bannerSectionCidada {
	position: relative;
        height: 613.5px;
	width: 100%;
	background-color: #000000;
}

section .darkSection {
    position: relative;
    padding: 20px;
    background-color: #ffffff;
    color: #3C47B3;
}

.footerSection {
    position: relative;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;
    color: #4f8fc9;
}

.darkSection h1, h2,h3{
    color: #494949;    
}

.TransparentSection {
    position: relative;
    padding: 20px;
}

.container .jumbotron {
    background-color: #0062b7;	
}